* {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  height: 100%;
  position: relative;

  &::-webkit-scrollbar {
    width: 12px;
    background: #212529;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #175c7b;
    border: 3px solid #212529;
    border-radius: 10px;
  }
}

a,
span,
h1 {
  color: #e9ecef;
}

a:hover {
  cursor: pointer;
  color: #e9ecef;
}

section.main-section {
  height: 90vh;
  background-color: #e9ecef;
}

.me-img {
  width: 12rem;
  border: 0.3rem solid #175c7b;
  border-radius: 10rem;
}

@include media-breakpoint-up(sm) {
  .ul-icons {
    width: 55%;
  }
}

.ul-icons li {
  margin-right: 1rem;
  margin-top: 1rem;

  img {
    width: 3rem;
    transition: width 0.5s;
  }

  img.smaller {
    width: 2.5rem;
  }

  img:hover {
    width: 4rem;
  }
}

#messenger {
  text-shadow: 2px 2px #68bd45;

  &.sicily-text {
    color: #f2ff49 !important;
    text-shadow: 3px 3px rgba(237, 20, 30, 255) !important;
  }
}

.email-contact {
  font-size: 1.5rem;
}

@include media-breakpoint-down(sm) {
  .email-contact {
    font-size: 1.2rem;
  }
}

.contact-section {
  background-color: #e9ecef;
}

.blue-text {
  color: #175c7b;
}

.about-section i {
  width: 2.5rem;
  color: #e9ecef;
}

.fa-laptop-house {
  font-size: 1.8rem;
}

.about-presentation {
  text-align: justify;
}

.about-container {
  p {
    font-size: 1.3rem;
    margin: 0;
    color: #e9ecef;
  }

  span {
    font-size: 1.3rem;
  }
}
